body #page #bottom #right {
  overflow-y: scroll; }
  body #page #bottom #right #text #OCPPEventMessages #controls {
    display: none; }
  body #page #bottom #right #text #OCPPEventMessages #EventsDiv {
    display: table; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .timestamp {
      padding: 6px 6px 2px 6px;
      font-size: 80%; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .eventTrackingId {
      display: none; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .sender {
      padding: 2px 6px 2px 6px;
      display: inline; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .category {
      padding: 2px 0px 2px 0px;
      display: inline;
      font-weight: bold; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .request {
      padding: 6px 6px 2px 6px;
      font-family: monospace;
      white-space: pre; }
    body #page #bottom #right #text #OCPPEventMessages #EventsDiv .LogLine .response {
      padding: 6px 6px 2px 6px;
      font-family: monospace;
      white-space: pre;
      border-bottom: #eeeeee 1px solid; }
