// Redefines the default colors within the OCPIWebAPI...


$NavigationBackground:  #456ca7;
$LogoBackground:        #e7e7e7;
$NavigationMenuColor:   #ffb980;
$NavigationTextColor:   #ccd5e3;
$NavigationTextHover:   #e8eaef;
$NavigationBackHover:   #6181b2;
$TopbarHeight:          60px;
