// Note: Remember to mark every variable as "!default" to avoid
//       that a custom style will be refined by a default value!

@import "../../../../../UsersAPI/UsersAPI/HTTPRoot/defaults/defaults.scss";


// Redefines the default colors defined within the UsersAPI...

/*$NavigationWidth:           60px;*/
$NavigationBackground:      rgb( 86, 132, 204);
$NavigationBackHover:       rgb(122, 163, 226);
$NavigationBackActive:      rgb( 66, 102, 158);
$NavigationMenuColor:       rgb(200, 215, 239);
$NavigationTextColor:       rgb(255, 255, 255);
$NavigationTextHover:       rgb(227, 235, 247);

/*$SubnavigationWidth:        200px;*/
$SubnavigationBackground:   rgb(195, 205, 220);
$SubnavigationTextColor:    rgb( 42,  74, 124);
$SubnavigationBackHover:    rgb(218, 224, 234);
$SubnavigationTextHover:    rgb(105, 137, 186);

$TopbarHeight:              60px;


/*$Shadow:                    2px 2px 7px #828282;*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
$CITMBlue95:                rgba( 86, 132, 204, .95);
$CITMGray:                  rgba(143, 145, 149,   1);

$OCCBlue:                   #2a456c;
